/* Header Stuff */
div.logoContainer{
    height: 90px;
    border-top: 5pt solid #bbd6ea;
}
img#logo{
    float: left;
    margin-left: 150pt;
}
div.slogan{
    float: right;
    margin-right: 150pt;
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
    margin-top: 35px;
    word-spacing: 0.06em;
    color: #1b4164;
}
div.topPhone{
    font-size: 18px;
    text-align: right;
    word-spacing: 0.01em;
    color: rgb(107, 33, 23);
}

/* Updated menu - less HTML Markup */
nav {
    float:left;
    width:100%;
    border-bottom:6pt solid #6B2117;
    overflow:hidden;
    position:relative;
    background-color: #1B4164;
}
nav ul {
    clear:left;
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    left:50%;
    text-align:center;
}
nav ul li {
    display:block;
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    right:50%;
}
nav ul li a {
    display:block;
    margin:0 0 0 1px;
    padding:3px 10px;
    background:transparent;
    color:white;
    text-decoration:none;
    line-height:1.3em;
}
nav ul li a:hover {
    background:white;
    color:#780032;
}
nav ul li a.active,
nav ul li a.active:hover {
    color:#780032;
    background:white;
}

/* WHAT FOLLOWS BELOW IS AN EXAMPLE OF A SIMPLE RESPONSIVE GRID LAYOUT */

/* Float all the classes that start with "col-" (columns) to the left */
[class*='col-'] {
    float: left;
}

/* Border-box makes grids easier down to IE8 - we might add a polyfill for IE7 and lower later */
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* These define column widths and are meant to be constants - but the list can be added to as needed */

.col-2-3 {
    width: 40%;
}
.col-1-3 {
    width: 30%;
}

.col-1-5 {
    width: 20%;
}

/* Clearing after grids to prevent collapsing height */
.grid:after {
    content: "";
    display: table;
    clear: both;
}

/* Making images in the main content container fill the correct amount of space */
.mainContent .col-1-3 img {
    width: 100%;
    height: 300pt
}

/* The next four rules add a gutter to the internalImages grid - we could also add a default gutter to all grids, or do
   it only for specific grids, like the internalImages grid below.  */

/* Internal gutter - put right 15pt on all columns */
.internalImages [class*='col-'] {
    padding-right: 15pt;
}

/* Except the last column */
.internalImages [class*='col-']:last-of-type {
    padding-right: 0;
}

/* External gutter */
.internalImages.grid-pad {
    padding: 15pt 0 15pt 15pt;
}

/* External gutter needs to re-add padding to the last column */
.internalImages [class*='col-']:last-of-type {
    padding-right: 15pt;
}

/* Stretch images inside internalImages to fit available space. */
.internalImages .col-1-5 img {
    width: 100%;
    height: 90pt;
}

.preferredPartners {
    background-color: gray;
    padding: 15pt;
    width: 100%;
}

/* Stretch images inside internalImages to fit available space. */
.preferredPartnersImages .col-1-5 img {
    width: 100%;
    height: 45pt;
}


/* Internal gutter - put right 15pt on all columns */
.preferredPartnersImages [class*='col-'] {
    padding-right: 6pt;
}

/* Except the last column */
.preferredPartnersImages [class*='col-']:last-of-type {
    padding-right: 0;
}

/* External gutter */
.preferredPartnersImages.grid-pad {
    padding: 6pt 0 6pt 6pt;
}

/* External gutter needs to re-add padding to the last column */
.preferredPartnersImages [class*='col-']:last-of-type {
    padding-right: 6pt;
}


/* Clearing after to prevent collapsing height */
.preferredPartners:after {
    content: "";
    display: table;
    clear: both;
}

/* Fixing up bottom nav menu */
.preferredPartners nav {
    background-color:transparent;
    border-bottom: none;
}

footer {
padding: 3pt;
text-align: center;
font-size: 9pt;
}